.mainSection {
    flex: 1;
    background-color: var(--bg-light);
    /* background-color: white; */
    width: 100vw ;
    display: flex;
    color: var(--text-main);
    /* background-color: green; */
    /* padding: 100px; */

}

@media (max-width: 768px) {
    .mainSection {
        width: 100%;
    }
}
