.bill-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.bill-item img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    object-fit: cover;
}

.bill-info {
    width: 45%;
    flex-grow: 1;
    overflow-x: auto;
    /* background-color: aqua; */
}

.bill-title {
    font-size: 13px;
    font-weight: 800;
    margin: 0;
}

.bill-price {
    /* background-color: red; */
    font-size: 12px;
    color: var(--text-muted);
    font-weight: 700;
    margin: 4px 0 0;
}

.bill-qty {
    margin-top: 2px;
    /* background: #f8f8f8; */
    padding: 5px 0;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.qty-btn {
    border: none;
    background: none;
    padding: 0 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

.qty-plus {
    color: var(--primary-red);
}

.qty-count {
    font-size: 14px;
    font-weight: 600;
}

.item-price {
    width: 30%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.item-price p {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Barlow', sans-serif;
}