.CategoryList {
    width: 90%;
    padding: 20px;
    margin: 1rem auto;
    background: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
    /* border: 1px solid #e0e0e0; */
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 100px;
    height: calc(100vh - 120px);
    /* margin-bottom: 10rem; */
}

.CategoryList .header-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-title);
    margin-bottom: 40px;
}
.CategoryList .header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* The Grid System */
.CategoryList .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

/* Card Styling */
.CategoryList .card {
    background: var(--bg-light);
    border-radius: 12px;
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid rgba(0, 0, 0, 0.02);
}
.CategoryList .card .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 24px;
}
.CategoryList .card .head p{
    color: gray;
    font-size: 13px;
}
.CategoryList .card .head i{
    color: gray;
    cursor: pointer;
}

.CategoryList .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06);
}

/* Icon Circles */
.CategoryList .icon-box {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
    font-size: 24px;
}

.CategoryList .info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-title);
}

.CategoryList .info p {
    margin: 4px 0 0;
    font-size: 14px;
    color: var(--text-sub);
}

/* Specific Colors from your Image */
.CategoryList .blue {
    background-color: #e0eaff;
}

.CategoryList .yellow {
    background-color: #fef3c7;
}

.CategoryList .gray {
    background-color: #f4f4f5;
}

.CategoryList .cyan {
    background-color: #e0f2fe;
}

.CategoryList .pink {
    background-color: #fce7f3;
}

.CategoryList .orange {
    background-color: #ffedd5;
}

.CategoryList .green {
    background-color: #dcfce7;
}

.CategoryList .teal {
    background-color: #ccfbf1;
}

.CategoryList .mint {
    background-color: #f0fdf4;
}

/* Responsive Design */
@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .header-title {
        font-size: 22px;
    }
}