/* Dashboard.css */
.dashboard{
     width: 90%;
 
    margin: 1rem auto;
    /* background: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
    /* border: 1px solid #e0e0e0; */
    overflow-y: scroll;
    scrollbar-width: none;
    
    height: 100vh;
}



.dashboard .main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.dashboard  .header-title h1 {
    font-size: 1.25rem;
    color: #2c3e50;
}

.dashboard  .header-title p {
    font-size: 0.85rem;
    color: #888;
}


.dashboard .btn-primary {
    background: #52ad0a;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.dashboard .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.dashboard .stat-card {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.dashboard .charts-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.dashboard .chart-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
}

.dashboard .table-section {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
}

.dashboard table {
    width: 100%;
    border-collapse: collapse;
}

.dashboard th {
    text-align: left;
    color: #718096;
    font-size: 12px;
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
}

.dashboard td {
    padding: 16px 12px;
    border-bottom: 1px solid #e2e8f0;
    font-size: 14px;
}

.dashboard .status-pill {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 700;
}