 .NavBar {
    width:calc( 100% - 100px);
    height: 80px;
    margin-left: 100px;
    margin-right: 200px;
    background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 25px;
     position: fixed;
     top: 0;
     padding: 40px;
     z-index: 10;
 }

 .header-title h1 {
     font-size: 1.25rem;
     color: #2c3e50;
 }

 .header-title p {
     font-size: 0.85rem;
     color: #888;
 }
 .btn-primary{
    background: #52ad0a;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: none;
 }