.billingAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* semi-transparent red */
    background-color: rgba(255, 255, 255, 0.4);

    /* The blur effect */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(8px);
    /* For Safari support */

    /* Ensures it sits on top of other content */
    z-index: 999;
}