.product-card {
    background: white;
    border-radius: 28px;
    padding: 18px;
    box-shadow: var(--card-shadow);
    position: relative;
    text-align: center;
    cursor: pointer;
     transition: transform 0.1s ease,  0.2s ease;
}

.product-card:active {
   transform: scale(0.95);
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 22px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-card .price {
    font-weight: 800;
    font-size: 15px;
    color: var(--text-main);
    margin-bottom: 15px;
}