.sidebar {
    width: 100px;
    background: var(--sidebar-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-right: 1px solid var(--border-color);
    z-index: 100;
    height: 100vh;
    z-index: 1;
}

.logo {
    width: 50px;
    height: 50px;
    background: var(--primary-red);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin-bottom: 50px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.nav-item {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    transition: transform 0.1s ease, background-color 0.2s ease;
}
.nav-item:active {
     transform: scale(0.99);
     /* background-color: var(--primary-red); */
     /* color: white; */
 }


.nav-item.active {
    color: var(--primary-red);
    background: var(--bg-light);
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 8px;
}

.nav-item span {
    font-size: 12px;
    font-weight: 600;
}


@media (max-width: 1024px) {
    .billing-panel {
        width: 320px;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow: auto;
        height: auto;
    }

    /* Bottom Nav for Mobile */
    .sidebar {
        width: 100%;
        height: 65px;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 15px;
        border-right: none;
        border-top: 1px solid var(--border-color);
    }

    .logo,
    .logout {
        display: none;
    }

    .nav-items {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .nav-item {
        padding: 10px;
        font-size: 20px;
    }

    .main-content {
        padding: 15px;
        padding-bottom: 80px;
    }

    .billing-panel {
        width: 100%;
        height: auto;
        border-left: none;
    }

    /* Keep Search and Profile in one row */
    .user-info {
        display: none;
    }

    /* Hide name on mobile to save space */
    .user-profile {
        padding: 4px;
    }

    .search-container input {
        padding: 12px 12px 12px 35px;
        font-size: 13px;
    }

    .search-container i {
        left: 12px;
    }

    .menu-grid {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    /* 2 items per row */
    .product-card {
        padding: 12px;
        border-radius: 20px;
    }

    .product-card img {
        height: 120px;
        border-radius: 15px;
    }

    .product-card h3 {
        font-size: 13px;
    }
}